body {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    margin:0;
    min-height:100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header{
    background-color: #1F2937;
    color: #f9faf8;
    height:70px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

h3{
    font-size: 24px ;
}




.header-links{
    display:flex;
    list-style: none;
    
    

}

ul{
    align-items:center;
    
}

li{
    margin-left:12px
    

}



.q1{
    background-color: #1F2937;
    flex: 1;
    color: #f9faf8;
    display:flex;
    justify-content: center;
    align-items: center;

}

.left-part{
    flex:1;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.left-box{
    max-width: 450px;

}
.right-stuff{

    flex :1;

   
}

h2{
    font-size: 48px;

}

.q2{
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.q2heading{
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
}

.q2body{
    flex :1;
    flex-grow:1;
    display:flex;
    justify-content: space-around;

}

.info{
    margin-left:40px;
    display:flex; 
    flex-direction: column;
    align-items:center;
}

.q3{
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
    padding-bottom: 60px;
}

.q4{
    Display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;


}

.footer{
    background-color: #1F2937;
    height:70px;
    width: auto;
    color:#f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a{
    color:#f9faf8;
    text-decoration: none;
    
}

button{
    border-radius: 10px;
    padding : 10px;
    padding-right:20px;
    padding-left:20px;
    border: none;
    background-color: #3882f6;
    color:#e5e7eb;
    font-weight: bold;
    margin-top:5px;
}



.mborder{
    border: 4px solid;
    border-color: #3882f6;
    width: 100px;
    height:100px;
    border-radius:10px;
    font-size: 30px;
    font-weight: bold;
    color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.mborder-text{
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    color: grey;
}

.quote{
    flex: 1;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    max-width: 1000px;
    padding:100px;
    padding-bottom: 10px;
}
.person{

    font-weight: bolder;
    color: #1F2937;
    width: 1000px;
    text-align: right;
    
}

.box{
    flex:1;
    border-radius: 10px;
    background-color:#3882f6;
    padding: 20px;
    color: white;
    max-width: 600px;
    text-align: center;
    
}

.special{
    border-color: white;
    border: solid 2px;
}